@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;800&display=swap');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */

header{
  background: url(../img/home-page-background-3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  border-bottom: 4px solid #f0515f;
  position: relative;
}

header .logo{
  float: left;
  margin: 30px 0 0 30px;
}

.logo:hover{
  transition: 0.3s;
  opacity: .7;
  cursor: pointer;
}

nav .nav-links{
  float: right;
  margin: 50px 0 0 30px;
}

nav ul li{
  display: inline-block;
  text-decoration: none;
  padding: 0 20px;
}

nav ul li a:link, nav ul li a:visited{
  text-decoration: none;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

nav ul li a:hover, nav ul li a:active{
  color: #f0515f;
  transition: 0.3s;
  cursor: pointer;
}

nav ul li.dropdown-link{
  display: none;
}

#mobile-hamburger-menu{
  display: none;
}

.header-copy{
  position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    padding: 30px 20px;
    max-width: 839px;
    margin: 0 auto;
    left: 0;
    right FONT-WEIGHT: 500;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
}

h1, header p{
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-style: italic;
}

header p{
  font-weight: 500;
}

.header-copy .date{
  color:#f0515f;
}

.arrow-icon{
  position: absolute;
  bottom: 25px;
  right: 0;
  left: 0;
  font-size: 47px !important;
  color: #fff;
  text-align: center;
  cursor: pointer;
}


/* booking form */

#form-container{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

#form-container h2{
  margin: 80px 0 50px 0;
  font-family: 'Raleway', sans-serif;
  color: #4b4b4b;
  font-size: 40px;
  font-weight: 300;
  border-bottom: 1px solid #4b4b4b;
  max-width: 410px;
  width: 100%;
}

#form-container label{
  font-size: 16px;
  color: #4b4b4b;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-top: 45px;
  display: block;
}

#form-container input{
  max-width: 1200px;
  width: 100%;
  height: 50px;
  background-color: #f4f3f4;
  border: none;
}

#form-container textarea{
  width: 100%;
}

#form-container #datePicker{
  max-width: 170px;
  width: 100%;
  padding: 0 20px;
  margin-top: 10px;
}

#form-container #Selector{
  max-width: 170px;
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
}

/* firefox browser incompatiblity */

@-moz-document url-prefix() {
  #form-container #Selector{
    margin-left: -3px;
  }
}

/* select css code browser compatibility */

select::-ms-expand {
  display: none;
}

select {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 2em 0.5em 0.5em;
  border: 1px solid #eee;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;
}

/* covid 19 release form and info */

.nail-background{
  background: url(../img/home-nail-background.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 60vh;
  background-attachment: fixed;
  border-top: 4px solid #f0515f;
  border-bottom: 4px solid #f0515f;
  position: relative;
}

.covid-19-info{
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size:30px;
}

.pdf{
  margin-top: 20px;
  font-size: 60px !important;
  cursor: pointer;
}

#form-container #submit{
  max-width: 200px;
  width: 100%;
  background-color: #f0515f;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #fff;
  margin: 50px auto 90px auto;
  display: block;
}

#form-container #submit:hover{
  background-color: #b83540;
  transition: 0.3s;
  cursor: pointer;
}

/* map | contact info */
#map{
  float: left;
  width: 50%;
  height: 332px;
  overflow:hidden;
  position:relative;
}

#map > iframe{
  left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#contact-info{
  float: right;
  width: 50%;
  height: 332px;
  overflow: hidden;
  padding: 40px 40px 50px 40px;
  background-color: #f0515f;
}

#contact-info h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height:22px;
  color: #fff;
}

#contact-info h3:nth-child(4), #contact-info h3:nth-child(7){
  margin-top: 20px;
}

#contact-info p{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
}

.contact-arrow{
  display: none !important;
}

/* footer */

footer{
  background-color: #000;
}

footer p{
  color: #fff;
  text-align: center;
  padding: 25px 0;
  clear: both;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 10px;
}

/* Mobile */

@media only screen and (max-width: 768px){

  /* navbar */

  nav ul li{
    display: none;
  }

  nav .nav-links{
    margin-left: 0;
  }

  nav ul li.dropdown-link{
    display: block;
    position: relative;
    bottom: 6px;
    font-size: 30px;
  }

  #mobile-hamburger-menu{
    display: block;
  }

  /* hamburger-menu */

  label .menu {
    position: absolute;
    right: 0px;
    top: -100px;
    z-index: 100;
    width: 120px;
    height: 181px;
    background: #FFF;
   
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
  }
  
  label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  
  label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
  }
  
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
  label input { display: none; }
  
  label input:checked + .menu {
    box-shadow: 0 0 0 0 #FFF, 0 18vh 0 0 #FFF;
    border-radius: 0;
  }
  
  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
  }
  
  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }
  
  label input:checked + .menu + ul { opacity: 1; }
  
  label ul {
    z-index: 200;
    position: absolute;
    top: 18%;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
  }
  
  label a {
    margin-bottom: 1em;
    display: block;
    color: #f0515f;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
  }
  
  .contact-arrow{
    display: block !important;
    position: absolute;
    right: 21px;
    bottom: 38px;
    font-size: 40px !important;
    color: #fff;
    cursor: pointer;
  }

  #map, #contact-info{
    width: 100%;
    position: relative;
  }
}
