/* -------------------------------------------- */
/* Default settings */
/* -------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;800&display=swap');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

a[href^="mailto"] {
  color: inherit;
  text-decoration: none;
}

/* -------------------------------------------- */
/* Header section */
/* -------------------------------------------- */

.mobile-nav{
  display: none;
 }

header{
  position: relative;
  border-bottom: 4px solid #f0515f; 
  height: 900px;
}

#parallax-effect-1 {
  background: url(../img/home-page-background-3.jpg) no-repeat center center #000;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
}

.nav-position{
  position: absolute;
  top: 5px;
  width: 100%;
}

header .logo{
  float: left;
  margin: 30px 0 0 30px;
}

.logo:hover{
  transition: 0.3s;
  opacity: .7;
  cursor: pointer;
}

nav .nav-links{
  float: right;
  margin: 50px 0 0 30px;
}

nav ul li{
  display: inline-block;
  text-decoration: none;
  padding: 0 20px;
}

nav ul li a:link, nav ul li a:visited{
  text-decoration: none;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

nav ul li a:hover, nav ul li a:active{
  color: #f0515f;
  transition: 0.3s;
  cursor: pointer;
}

nav ul li.dropdown-link{
  display: none;
}

#mobile-hamburger-menu{
  display: none;
}

.header-copy{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  padding: 30px 20px;
  max-width: 839px;
  margin: 0 auto;
  left: 0;
  font-weight: 500;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  right: 0;
}

h1, header p{
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-style: italic;
}

header p{
  font-weight: 500;
}

.header-copy .date{
  color:#f0515f;
}

.arrow-icon{
  position: absolute;
  bottom: 25px;
  right: 0;
  left: 0;
  font-size: 47px !important;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

/* -------------------------------------------- */
/* Booking section */
/* -------------------------------------------- */

main{
  padding: 1px 0 1px 0;
  background-color: #fff;
}

#form-container{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

#form-container h2{
  margin: 80px 0 50px 0;
  font-family: 'Raleway', sans-serif;
  color: #4b4b4b;
  font-size: 40px;
  font-weight: 300;
  border-bottom: 1px solid #4b4b4b;
  max-width: 410px;
  width: 100%;
}

#form-container label{
  font-size: 16px;
  color: #4b4b4b;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-top: 45px;
  display: block;
}

#form-container input{
  max-width: 1200px;
  width: 100%;
  height: 50px;
  background-color: #f4f3f4;
  border: none;
}

#form-container textarea{
  width: 100%;
}

#form-container #datePicker{
  max-width: 170px;
  width: 100%;
  padding: 0 20px;
  margin-top: 10px;
}

#form-container #Selector{
  max-width: 170px;
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
}

section.nail-background{
  background: url(../img//home-nail-background.jpg) no-repeat center center #000;
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
}

section.nail-background .covid-19-info h3{
    padding: 0 20px;
    text-decoration: underline;
}

section.nail-background .covid-19-info h3:nth-child(3){
  margin-top: 50px;
}

section.nail-background .covid-19-info ul{
  text-align: left;
  max-width: 1200px;
  width: 100%;
  margin: 50px auto 0 auto;
  font-size: 20px;
  line-height: 27px;
  padding: 0 20px;
}

/* firefox browser incompatiblity */

@-moz-document url-prefix() {
  #form-container #Selector{
    margin-left: -3px;
  }
}

/* select css code browser compatibility */

select::-ms-expand {
  display: none;
}

select {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 2em 0.5em 0.5em;
  border: 1px solid #eee;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;
}

#form-container #submit{
  max-width: 200px;
  width: 100%;
  background-color: #f0515f;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #fff;
  margin: 50px auto 90px auto;
  display: block;
}

#form-container #submit:hover{
  background-color: #b83540;
  transition: 0.3s;
  cursor: pointer;
}

/* -------------------------------------------- */
/* COVID 19 release form and guidelines */
/* -------------------------------------------- */

.nail-background{
  position: relative;
  border-bottom: 4px solid #f0515f; 
  border-top: 4px solid #f0515f; 
}

.covid-rules-padding{
  padding-top: 20px;
}

.covid-19-info{
  text-align: center;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin: 70px 0;
}

.pdf{
  margin-top: 20px;
  font-size: 60px !important;
  cursor: pointer;
  color: #fff;
}

#map{
  float: left;
  width: 50%;
  height: 334px;
  overflow:hidden;
  position:relative;
}

#map > iframe{
  left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#contact-info{
  float: right;
  width: 50%;
  padding: 40px 40px 0px 30px;
  background-color: #f0515f;
}

#contact-info h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height:22px;
  color: #fff;
}

#contact-info h3:nth-child(4), #contact-info h3:nth-child(7){
  margin-top: 20px;
}

#contact-info p{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
}

.contact-arrow{
  color: #f0515f;
  font-size: 40px !important;
  cursor: pointer;
  float: right;
  background-color: #fff;
  padding: 4px
}

/* -------------------------------------------- */
/* Footer section */
/* -------------------------------------------- */

footer{
  background-color: #000;
}

footer p{
  color: #fff;
  text-align: center;
  padding: 25px 0;
  clear: both;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 10px;
}



/* -------------------------------------------- */
/* Mobile section */
/* -------------------------------------------- */

@media only screen and (max-width: 768px){
  .mobile-nav{
    margin-top: 10px;
    cursor: pointer;
    background-color: #fff;
    display: block;
    width: 116px;
    position: absolute;
    top: 95px;
    left: 33px;
    z-index: 1;
    padding: 10px;
    line-height: 33px;
    font-weight: 500;
    font-family: Raleway, sans-serif;
  }

  .mobile-nav .menu-btn{
    margin-bottom: 20px;
  }

  .mobile-nav ul a{
    text-decoration: none;
    color: #f0515f;
  }
  
  nav ul li{
    display: none;
  }

  nav .nav-links{
    margin-left: 0;
  }

  nav ul li.dropdown-link{
    display: block;
    position: relative;
    bottom: 6px;
    font-size: 30px;
  }

  #mobile-hamburger-menu{
    display: block;
  }

  /* hamburger-menu */
 
  .menu-btn div {
   position: absolute;
   left: 100%;
   top: 64%;
   padding-right: 8px;
   margin-top: -0.50em;
   line-height: 1.2;
   font-size: 18px;
   font-weight: 200;
   vertical-align: middle;
   z-index: 99;
  }
   
  .menu-btn span {
   display: block;
   width: 19px;
   height: 3px;
   margin: 4px 0;
   background: rgb(0,0,0);
   z-index: 99;
  }
   
  .responsive-menu{
   display: none;
  }
   
  .expand {
   display: block !important; 
  }  

  .gallery { 
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
.gallery div { margin: 0; 
    width: 200px;
}
.modal-dialog {
    margin: 0 8vw;
}

  #map, #contact-info{
    width: 100%;
    position: relative;
  }
}


